<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class ="top">
        <h1>ドローン愛好家のページ</h1>
        <p>ドローンが好きな人が自分の好きなドローンについて投稿するページです</p>
      <p class="resizeimage">
        <img src="<%= asset_path "top.jpg" %>">
      </p>
      </div>
    </div>
  </div>
</div>